registry=https://repo.prod.cloud.thdm.local/artifactory/api/npm/npm/
strict-ssl=false
legacy-peer-deps=true
always-auth=true
//repo.prod.cloud.thdm.local/artifactory/api/npm/npm/:_auth=c3Bfc2FfcmVwb0B0ZW1hc2VrLmNvbS5zZzpBS0NwOGtxcWRMNkRGanAxVmRHelVmY0o3VEd1ek1CYXRKVnk5Um5QWmJ5U1ZBS3B4MlI3bjlFNG1MdmlmSHhGZmR3eXk4dlBE
